<div class="container-fluid" style="padding-left: 3%; padding-top: 2%; padding-bottom: 5%;">
    <p class = "text fs-5" style="padding-top: 1%; color: darkgreen;"><b>Personal and Educational Details</b></p>
    <div class="row">
        <div class="col">
            <div class="card shadow p-3 mb-5 bg-body rounded" style="margin-left: 3%;">
                <div class="card-header">
                  <div class="text fs-5">Educational Details</div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover table-responsive p-3 mb-5 bg-body rounded">
                        <thead  style=" background-color: #12928c; color:white;">
                            <tr style="font-weight:normal;">
                              <th>Degree</th>
                              <th>Branch</th>
                              <th>Institution</th>
                              <th>% Marks</th>
                              <th>Board/University</th>
                            </tr>
                          </thead>
                        <tbody>
                            <tr>
                               <th>
                                   B. Tech
                               </th>
                                <th>
                                    Information Technology
                                </th>
                                <th>
                                    Kongu Engineering College
                                </th>
                                <th>
                                    8.37(CGPA)
                                </th>
                                <th>
                                    Anna University
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    HSC
                                </th>
                                 <th>
                                     Computer Science
                                 </th>
                                 <th>
                                     BVB Matric Hr. Sec. School
                                 </th>
                                 <th>
                                     83.6%
                                 </th>
                                 <th>
                                     State Board
                                 </th>
                            </tr>
                            <tr>
                                    <th>
                                        SSLC
                                    </th>
                                     <th>
                                         -
                                     </th>
                                     <th>
                                         Vevaham Boys Hr. Sec. School
                                     </th>
                                     <th>
                                         92.8%
                                     </th>
                                     <th>
                                         State Board
                                     </th>
                             </tr>
                        </tbody>
                    </table>
                </div>
            </div>
         <button class="btn btn-dark" style="margin-left: 5%;" routerLink="/achievements"> < Prev </button>
        </div>
        <div class="col">
            <div class="card shadow p-3 mb-5 bg-body rounded" style="margin-left: 3%;">
                <div class="card-header">
                  <div class="text fs-5">Personal Details</div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover table-responsive p-3 mb-5 bg-body rounded">
                        <tbody>
                            <tr>
                               <th>
                                  Name 
                               </th>
                                <th>
                                    Ajay.K
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Date Of Birth
                                </th>
                                 <th>
                                     11-Jan-2001
                                 </th>
                            </tr>
                            <tr>
                                    <th>
                                        Father's Name
                                    </th>
                                     <th>
                                         Kathirvel.A
                                     </th>
                             </tr>
                             <tr>
                                <th>
                                    Mother's Name
                                </th>
                                 <th>
                                     Gandhi Mathi.K
                                 </th>
                            </tr>
                            <tr>
                                <th>
                                    Languages Known
                                </th>
                                 <th>
                                     Tamil,English
                                 </th>
                           </tr>
                           
                           <tr>
                                <th>
                                    Permanent Address
                                </th>
                                <th>
                                    Ajay K				
                                    S/o Kathirvel A	 		
                                    32/1 Amman Nagar			
                                    Chennappanaikkan palayam	
                                    Sinniampalayam(po)		
                                    Erode - 638104
                                    
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    
</div>
