<div class="card" style="width: 50%;">
    <div class="card-header">
      <div class="text fs-4"> About </div>
    </div>
   
    <div class="card-body">
      <p class="card-text">An aspiring Information Technology  
        student currently pursuing Final Year,  
        actively seeking to find opportunities to  
        expand my knowledge to do something  
        for the betterment of the company.  
        Active learner with decent time  
        management and organizational skills,  
        who can also work good under pressure.</p>
      <a routerLink="/skills" class="btn btn-primary justify-content-end"> Next </a>
    </div>
  </div>
