<div class="container-fluid" style="padding-left: 3%; padding-top: 2%; padding-bottom: 10%; ">
  <p class = "text fs-5" style="padding-top: 1%; color: darkgreen;"><b>Projects</b></p>
  <div class="row">
    <div class="col">
        <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 20rem; margin-left: 3%;">
          <img src="assets/images/alumni.jpg" class="card-img-top">
          <div class="card-body">
              <h3 class="card-title text-center "><b>Alumni Tracking System</b></h3>
              <p class="card-text">A Updated Alumni Tracking System which has track the alumni of the University using LinkedIn Api.</p>
              <span  class="btn bg-dark text-light" style="opacity: 0.5;">View Project</span> &nbsp;&nbsp;&nbsp;
              <span  class="btn bg-dark text-light" style="opacity: 0.5;">View Code</span>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 20rem; margin-left: 1%;">
        <img src="assets/images/inba.jpg" class="card-img-top" >
        <div class="card-body">
            <h3 class="card-title text-center "><b>E-commerce Portal</b></h3>
            <p class="card-text">E-commerce Portal is a consultancy Project done for a INBA BOUTIQUE Shop Where the owner needs a website which can add,Sell the Clothes online.</p>
            <a  class="btn bg-dark text-light" target="_blank" style="opacity: 0.5;">View Project</a> &nbsp;&nbsp;&nbsp;
            <a href="https://github.com/ajayk01/mini" target="_blank" class="btn bg-dark text-light">View Code</a>
             
        </div>
      </div>
    </div>
    <!-- <div class="col">
      <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem; margin-left: 1%;">
        <img src="assets/images/alumni.jpg" class="card-img-top">
        <div class="card-body">
            <h3 class="card-title text-center "><b>Alumni Tracking System</b></h3>
            <p class="card-text">A Updated Alumni Tracking System which has track the alumni of the University using LinkedIn Api.</p>
             <a href="#" class="btn btn-primary">Go somewhere</a> 
        </div>
      </div>
    </div> -->
   
</div>
<div style="display: flex;">
  <button class="btn btn-dark start" style="margin-left:  2%;"  routerLink="/skills"> < Prev </button>
  <button class="btn btn-dark end" style="margin-left: 60%;" routerLink="/achievements"> Next > </button>
</div> 
</div>
