<div class="container-fluid" style="padding-left: 3%; padding-top: 2%;">
 <p class = "text fs-5" style="padding-top: 1%; color: darkgreen;"><b>Frontend Technologies</b></p>
 <div class="row" style="padding-left: 3%; padding-right: 3%;">
    <div class="col">
        <div class="d-flex  justify-content-center"> <img src ="assets/images/html.jpg" height="55%" width="35%"/></div>
        <div class= "bg-dark  rounded-pill" style="margin-left: 2%;   padding-top: 3%;padding-bottom: 3%;">
           <div class="text-center text-light"> HTML </div>
        </div>
    </div>
    <div class="col">
        <div class="d-flex  justify-content-center"><img src ="assets/images/css.png" height="45%" width="25%" style="margin-bottom: 6%; margin-top:1%; margin-left:3%;"/> </div> 
        <div class= "bg-dark  rounded-pill" style="margin-left: -2%;   padding-top: 3%; padding-bottom: 3%;">
           <div class="text-center text-light"> CSS </div>
        </div>
    </div>
    <div class="col">
        <div class="d-flex  justify-content-center"> <img src ="assets/images/bootstrap.jpeg" height="50%" width="30%" style="margin-bottom: 6%; margin-left:2%;"/></div>
        <div class= "bg-dark  rounded-pill" style="margin-left: -2%;   padding-top: 3%; padding-bottom: 3%;">
            <div class="text-center text-light"> BootStrap </div>
         </div>
    </div>
    <div class="col">
        <div class="d-flex  justify-content-center"><img src ="assets/images/js.png" height="45%" width="25%" style="margin-bottom: 6%; margin-left:5%;"/></div>
        <div class= "bg-dark  rounded-pill" style="margin-left: -2%;   padding-top: 3%; padding-bottom: 3%;">
            <div class="text-center text-light"> JavaScript </div>
         </div>
    </div>
    <div class="col">
        <div class="d-flex  justify-content-center"><img src ="assets/images/angular.png" height="60%" width="40%" style="margin-bottom: 2%; margin-left:-1%;"/></div>
        <div class= "bg-dark  rounded-pill" style="margin-left: -2%;   padding-top: 3%; padding-bottom: 3%;">
            <div class="text-center text-light"> Angular </div>
         </div>
    </div>
 </div>

</div>

<div class="container-fluid" style="padding-left: 3%; padding-top: 2%;">
    <p class = "text fs-5" style="padding-top: 1%; color: darkgreen;"><b>Backend Technologies</b></p>
    <div class="row" style="padding-left: 3%; padding-right: 3%;">
       <div class="col">
        <div class="d-flex  justify-content-center"><img src ="assets/images/nodejs.png" height="55%" width="35%" style="margin-bottom: 12%; margin-top:1%; margin-left:3%;"/></div>
           <div class= "bg-dark  rounded-pill" style="margin-left: 2%;   padding-top: 3%;padding-bottom: 3%;">
              <div class="text-center text-light"> NODE JS </div>
           </div>
       </div>
       <div class="col">
        <div class="d-flex  justify-content-center"><img src ="assets/images/php.png" height="45%" width="40%" style="margin-bottom: 12%; margin-top:1%; margin-left:3%;"/> </div>
           <div class= "bg-dark  rounded-pill" style="margin-left: 3%;   padding-top: 3%; padding-bottom: 3%;">
              <div class="text-center text-light"> PHP </div>
           </div>
       </div>
       <div class="col">
        <div class="d-flex  justify-content-center"><img src ="assets/images/mongodb.jpeg" height="50%" width="30%" style="margin-bottom: 5%; margin-left:2%;"/></div>
           <div class= "bg-dark  rounded-pill" style="margin-left: -2%;   padding-top: 3%; padding-bottom: 3%;">
               <div class="text-center text-light"> MongoDB </div>
            </div>
       </div>
       <div class="col">
        <div class="d-flex  justify-content-center"><img src ="assets/images/mysql.png" height="65%" width="55%" style="margin-left:5%;"/></div>
           <div class= "bg-dark  rounded-pill" style="margin-left: 12%;   padding-top: 3%; padding-bottom: 3%;">
               <div class="text-center text-light"> MYSQL </div>
            </div>
       </div>
    </div>
   
</div>

<div class="container-fluid" style="padding-left: 3%; padding-top: 2%; padding-bottom: 10%;">
    <p class = "text fs-5" style="padding-top: 1%; color: darkgreen;"><b>Languages and Version Control</b></p>
    <div class="row" style="padding-left: 3%; padding-right: 3%;">
       <div class="col">
        <div class="d-flex  justify-content-center"><img src ="assets/images/c.png" height="55%" width="35%" style="margin-bottom: 6%; margin-top:1%; margin-left:3%;"/></div>
           <div class= "bg-dark rounded-pill" style="margin-left: 2%;   padding-top: 3%;padding-bottom: 3%;">
              <div class="text-center text-light"> C </div>
           </div>
       </div>
       <div class="col">
        <div class="d-flex  justify-content-center"> <img src ="assets/images/java.png" height="55%" width="45%" style="margin-bottom: 0%; margin-top:1%; margin-left:3%;"/> </div>
           <div class= "bg-dark  rounded-pill" style="margin-left: 8%;   padding-top: 3%; padding-bottom: 3%;">
              <div class="text-center text-light"> JAVA </div>
           </div>
       </div>
       <div class="col">
        <div class="d-flex  justify-content-center"><img src ="assets/images/python.png" height="50%" width="30%" style="margin-bottom: 9%; margin-left:2%;"/></div>
           <div class= "bg-dark  rounded-pill" style="margin-left: -2%;   padding-top: 3%; padding-bottom: 3%;">
               <div class="text-center text-light"> Python </div>
            </div>
       </div>
       <div class="col">
        <div class="d-flex  justify-content-center"><img src ="assets/images/git.jpg" height="45%" width="35%" style="margin-bottom: 10%; margin-left:5%;"/></div>
           <div class= "bg-dark  rounded-pill" style="margin-left: 3%;   padding-top: 3%; padding-bottom: 3%;">
               <div class="text-center text-light"> Git </div>
            </div>
       </div>
    </div>
    <div style="display: flex; margin-top: 3%;">
        
        <button class="btn btn-primary start" style="margin-left:  5%;"  routerLink="/about"> < Prev </button>
        <button class="btn btn-primary end" style="margin-left: 70%;" routerLink="/projects"> Next > </button>
      </div>
</div>




