<div class="container-fluid" style="padding-left: 3%; padding-top: 2%;">
    <p class = "text fs-5" style="padding-top: 1%; color: darkgreen;"><b>Achievements</b></p>
    <div class="row">
        <div class="col">
            <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 20rem; margin-left: 3%;">
                <img src="assets/certificates/coding_carnival_level_1.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h3 class="card-title"><b>Coding Carnival - Level-I</b></h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 20rem; margin-left: 3%;">
                <img src="assets/certificates/vivere 2021 - coding -1st prize.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title"><b>Vivere-2021(Coding) - 1st</b></h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 20rem; margin-left: 3%;">
                <img src="assets/certificates/AJAY DEBUGGING-SIGNIN-2020.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h3 class="card-title"><b>Signin-2020(Debugging) - 2nd</b></h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid"  style="padding-left: 3%; padding-bottom: 10%;">
    <div class="row">
        <div class="col">
            <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 20rem; margin-left: 3%; ">
                <img src="assets/certificates/Crack_the_code(2020)_coding_3nd.jpg" height="230cm" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title"><b>Crack the Code-2020 - 3nd</b></h3>
                </div>
            </div>
            <!-- <button class="btn btn-dark" style="margin-left:  3%;"  routerLink="/projects"> < Prev </button> -->
        </div>
        <div class="col">
            <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 20rem; margin-left: 3%;">
                <img src="assets/certificates/jarvis_2020_(debugging)_1st.jpg" height="230cm" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title"><b>Jarvis Debugging(2020) -1st</b></h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 20rem; margin-left: 3%;">
                <img src="assets/certificates/jarvis_2020_coding_1st.jpg" class="card-img-top"  height="230cm">
                <div class="card-body">
                    <h3 class="card-title"><b>Jarvis Coding(2020) -1st</b></h3>
                </div>
            </div>
            <!-- <button class="btn btn-dark" style="margin-left: 60%;" routerLink="/other-details"> Next > </button> -->
        </div>
    </div>
    <div style="display: flex;">
        <button class="btn btn-dark start" style="margin-left:  5%;"  routerLink="/projects"> < Prev </button>
        <button class="btn btn-dark end" style="margin-left: 75%;" routerLink="/other-details"> Next > </button>
    </div>
</div>




    






